@import url('https://fonts.googleapis.com/css2?family=Roboto');

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

h1,h2,h3{
  text-align: center;
}

#play-again{
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 0.625rem;
  outline: none;
  font-size: 18px;
  background-color: #212121;
  color: #fffafa;
}

#play-again:hover{
  background-color: rgb(11, 119, 226);
  transition: 0.4s;
}

#play-again:active{
  background-color: #212121;
  transition: 0.1s;
}

#content{
  display: flex;
  justify-content: center;
}

.torre{
  width: 20rem;
  height: 15rem;

  display: flex; 
  flex-direction: column-reverse; 
  align-items: center;
  margin: 0.625rem;
  background-image: url("./img/line.png");
  background-repeat: no-repeat;
  background-position: center bottom; 
  background-size: contain;

  
}

#disco1{
  width: 190px;
  background: linear-gradient(0deg, rgba(130,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
#disco2{
  width: 160px;
  background: linear-gradient(0deg, rgba(0,50,119,1) 0%, rgba(0,107,255,1) 100%);
}
#disco3{
  width: 130px;
  background: linear-gradient(0deg, rgba(119,0,73,1) 0%, rgba(255,0,156,1) 100%);
}
#disco4{
  width: 100px;
  background: linear-gradient(0deg, rgba(5,64,0,1) 0%, rgba(15,190,0,1) 100%); 
}
#disco5{
  width: 70px;
  background: linear-gradient(0deg, rgba(167,167,0,1) 0%, rgba(255,255,0,1) 100%);
}


.disco{
  height: 40px;
  border-radius: 5px;
}

#start{
 
  width: 20vw;
}

#offset{
  width: 20vw;
  
}

#end{
  width: 20vw;
  
}

.selectedDisc{
  border: 2px solid crimson;
}

.unchecked{
  border: 2px solid black;
}